.container {
    background-color: bisque;
    padding: 12px;
    align-self: auto;

}
.col-md-8{flex:0 0 auto;width:66.66666667%}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.d-flex{display:flex!important}
.nav{--bs-nav-link-padding-x:1rem;
    --bs-nav-link-padding-y:0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color:var(--bs-link-color);
    --bs-nav-link-hover-color:var(--bs-link-hover-color);
    --bs-nav-link-disabled-color:var(--bs-secondary-color);
    display:flex;
    flex-wrap:wrap;
    padding-left:0;margin-bottom:0;
    list-style:none}
